.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 10vw 0 10vw;
    padding-bottom: 15px;
}

.logo-image{
    width: 135px;
    height: 61px;
}

.navbar-indexes {
    display: flex;
    padding-top: .6em;
}

.navbar-indexes-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 5px 30px;
    list-style: none;
}

.navbar-indexes-list a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: 0.4s;
    font-size: 17px;
}

.navbar-socialmedia {
    display: flex;
    gap: 30px;
}

.navbar-socialmedia a {
    display: inline-flex;
    gap: 10px;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;  
}

.navbar-indexes-list a:hover, .navbar-socialmedia a:hover {
    color: #f42d2d;
}

.name-port { 
    text-align: center;
}

.name-port-title {
    position: relative;
}

.name-port-title p {
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    padding: 0 10px;
    background-color: #ffffff;
    display: inline-block;
}

.name-port-title p::after{
    position: absolute;
    border-top: 2px solid #f42d2d;
    top: 50%;
    right: 0;
    width: 100%;
    content: "";
    z-index: -1;
    margin: 0 auto;
}

.overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1em 2em;
    gap: 1.3em;
    border: 2px solid #f42d2d;
    border-radius: 24px;
    width: 50vw;
    margin: 1.5em auto;
    text-align: left;
    transition: .3s ease;
}

.overview:hover{
    box-shadow: 1px 1px 20px -5px #f42d2d;
}

.overview h3{
    font-size: 24px;
}

.overview h5{
    font-size: 13px;
    font-weight: 400;
}

.dado-1, .dado-2{
    background-color: #ececec;
    width: 17vw;
    height: 17vh;
    border-radius: 21px;
}

.categorias{
    padding-top: 3em;
    text-align: center;
}

.categorias h4{
    font-size: 22px;
    color: #f42d2d;
    font-weight: 500;
}

.categorias h1{
    font-size: 39px;
    margin-top: -.3em;
    color: #333333;
}

.consulta-select{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin: 3em auto;
    align-items: center;
    justify-items:center;
}

.select-aluno, .select-disciplina, .select-historico{
    background-color: #26262a;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 20em;
    height: 14em;
    box-shadow: 1px 1px 20px -5px #f42d2d;
    padding: 1.5em;
    transition: 0.2s ease;
}

.select-aluno h2, .select-disciplina h2, .select-historico h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.select-aluno span, .select-disciplina span, .select-historico span{
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
}

.select-aluno:hover, .select-disciplina:hover, .select-historico:hover{
    opacity: 0.8;
}

.ver-mais{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: auto;
}

.ver-mais-text{
    color: #ffffff;
    align-items: center;
    bottom: 0;
    text-decoration: none;
    align-self: end;
}

.ver-mais-icon{
    color: #f42d2d;
    text-decoration: none;
    font-size: 20px;
}
